# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1 = cars1.loc[: , "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [6]:
print("cars1 number of rows: ", str(cars1.shape[0]))
print("cars2 number of rows: ", str(cars2.shape[0]))

cars1 number of rows:  198
cars2 number of rows:  200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [8]:
cars = cars1.append(cars2)
print("cars number of rows: ", str(cars.shape[0]))

cars number of rows:  398

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [11]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
print(nr_owners)

nr_owners = np.random.randint(15000, #lowest number
                              high = 73001, #highest number (plus 1)
                              size = 398,  #how many rows we need it for
                              dtype = 'l')

[67311 40013 55475 23398 23268 20709 29520 38198 39726 30130 40696 71113
 53620 42413 34265 16341 69799 67507 42633 63457 34692 69447 39801 23940
 59224 35894 35815 57575 33116 17849 33333 50637 31758 62861 21443 57695
 62836 34820 23567 35036 68626 61110 42098 56319 59645 45777 26033 31170
 47161 56410 62463 52089 61636 50213 20424 68269 45932 19561 20129 60319
 60697 24583 62423 29225 46068 39418 26571 43280 57400 16375 34826 29783
 47422 48955 41005 39780 65863 46494 59815 45298 62039 34767 47763 51639
 39525 52782 48338 40213 30821 20446 41104 18606 27185 17951 21689 21837
 27373 58957 68354 62834 27108 64266 35062 47932 42410 42199 20701 37671
 59476 59661 24566 71958 70855 52205 50661 52385 51422 71424 17355 16123
 57967 56288 46332 20409 24775 49850 43683 72144 29119 57190 53302 70188
 49491 69521 39611 68610 51545 18097 32084 24602 41864 48253 17763 51905
 70814 19883 54716 34594 48302 66786 66003 43886 64363 64708 53520 44260
 17792 16097 48927 39517 28258 63333 39662 48159 49474 51634 43160 17467
 62327 41190 70988 34884 53710 30171 64771 54168 25191 48680 50254 36613
 55299 53500 23851 34000 15891 23742 61946 32657 39482 54568 52262 70782
 70055 33323 50761 25458 48139 19298 45188 54861 24586 42361 37909 29105
 41052 46123 70244 34539 65864 63683 64334 34696 35146 21819 63322 23863
 43649 52518 34597 35718 49877 35348 20506 58098 59108 32605 19060 17761
 69650 31509 20800 16647 36897 27712 49919 24285 63888 23617 66269 54340
 26489 20862 48832 54184 16575 34379 31519 62990 53049 35217 23897 59835
 35562 20257 46083 61204 31231 57324 61356 55575 50022 68185 52334 65227
 43164 31623 24891 48449 46720 16285 25486 62110 15822 23662 21325 33272
 28467 37736 47202 32997 57702 31587 35759 25729 60129 35705 23968 65481
 55483 30403 55213 38349 61765 61356 34588 25752 46457 35352 15088 59989
 72856 33317 67275 48471 17093 23578 30287 43462 18463 69146 68900 67462
 26569 54675 20469 62672 35793 58552 57591 59053 29475 58989 48934 51564
 45342 18773 52738 70131 68653 51646 33392 47832 48489 15671 47363 55476
 34926 51549 57567 44381 69446 69697 66623 43478 44600 37899 46456 36675
 48666 58048 35229 28050 66271 64310 45527 18599 19033 58292 19894 44718
 44999 31434 44744 31992 40345 63139 53573 32227 37804 47475 38969 67392
 62754 68179 60510 38926 42519 21843 25230 32603 42207 19213 43493 58261
 48998 67402 45085 45557 40960 65996 51860 32310 29832 28981 54098 68855
 27486 47630]

"\nnr_owners = np.random.randint(15000, #lowest number\n                              high = 73001, #highest number (plus 1)\n                              size = 398,  #how many rows we need it for\n                              dtype = 'l')\n"

### Step 8. Add the column owners to cars